@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

html, body {
    overflow-x: hidden;

    width: 100%;
    padding: 0px;

    font-family: 'Open Sans', sans-serif;
    font-smooth: auto;
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: antialiased;

    font-size: 14px;
    @media screen and (max-width: 1200px) {
        font-size: 12px;
    }
}

main {
    max-width: 1000px;
    width: 100%;
    padding: 0px;
    margin: 10px auto 0px auto;
}

* {
    box-sizing: border-box;
}

.align-center {
    display: block;
    margin: 0px auto;
    text-align: center;
}