// FIXME: Update colors to match new project

$color-primary: #0984E3;
$color-primary-dark: #002774;

$color-secondary: #D9527A;
$color-secondary-dark: #9D114A;

$color-dark: #404756;

$color-link: #0984E3;

$color-black: #0e0e0e;
$color-error: #d91e18;
$color-light-gray: #cfcfcf;
$color-white: #efefef;